/mediarithmics-navigator.iml
node_modules/
dist/
.tmp/
.sass-cache/
app/angular/bower_components/
.idea/
.vscode/
.editorconfig
app/angular/**/index.js
app/angular/**/module.js
generated/
*.zip
npm-debug.log
navigator-zip/
app/conf/app-configuration.js
app/conf/plugins-configuration.js
app/conf/react-configuration.js
.tags*
.DS_Store
Icon?
app/bower_components/
app/src/
app/version.json
app/version.txt

