<div class="mcs-default-container" ng-controller="core/settings/mobileapplications/EditOneController">

  <div class="mcs-default-content settings-content">
    <div class="mcs-default-heading">
      <h1 ng-show="!editMode">New Mobile Application</h1>
      <h1 ng-show="editMode">Edit Mobile Application</h1>
    </div>

    <form class="mcs-full-page-form">
      <div class="row">
        <div class="col-xs-3">
          <div mcs-form-group="full">
            <label for="name">Name</label>
            <input class="form-control input-md" ng-model="app.name" type="text" id="name">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-3">
          <div mcs-form-group="full">
            <label for="token">Token
              <span class="badge" uib-popover="A unique random identifier (e.g. ABCD123)" popover-trigger="mouseenter" popover-placement="right">?</span>
            </label>
            <input class="form-control input-md" ng-model="app.token" type="text" id="token">
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div class="form-inline">
          <h3>
            Activity Analyser
            <span class="badge site" data-html="true" uib-popover-html="'The activity analyser user for the domain'" uib-popover-template="" popover-trigger="mouseenter" popover-placement="right">?</span>
            <div ng-include="'src/core/visitanalysers/choose-visit-analyser.html'" class="form-group"></div>
          </h3>
        </div>
        <br>
        <table class="mics-table js-auto-hide-actions" ng-hide="!activityAnalyser">
          <thead>
          <tr>
            <th>Name</th>
            <th>Activity Analyser Processor</th>
            <th>Provider</th>
          </tr>
          </thead>
          <tbody>
          <tr fetch-plugin-properties-from-version="activityAnalyser.visit_analyzer_plugin_id as activityAnalyserProperties">
            <td>{{activityAnalyser.name}}</td>
            <td>{{activityAnalyserProperties['name'].value}}</td>
            <td>{{activityAnalyserProperties['provider'].value}}</td>
          </tr>
          </tbody>
        </table>

      </div>

      <div class="mcs-actions-group">
        <button class="mics-btn mics-btn-cancel" ng-click="cancel()">Cancel</button>
        <button ng-disabled="!(app.name.length && app.token.length)" class="mics-btn mics-btn-finish" ng-click="done()">Done</button>
      </div>


    </form>
  </div>
</div>
