<!-- timeline -->
<div class="col-md-8 col-xs-8" >

    <ul class="datamart-timeline">
        <li  ng-repeat="timelineActivity in timelines" class="with_purchase" ng-switch="timelineActivity.$type">


            <div ng-switch-when="RECOMMENDER">
              <div ng-include="'src/core/datamart/timeline/recommender-activity.html'"></div>
            </div>

            <!-- display 'regular' user activities (TOUCH, SITE_VISIT, EMAIL, DISPLAY_AD, ....) -->
            <div ng-switch-default>
              <div ng-include="'src/core/datamart/timeline/user-activity.html'"></div>
            </div>

        </li>

        <li class="datamart-timeline-footer-node" ng-show="isTimeLineReady() && showMore"  >
            <div class="datamart-timeline-icon">
                <img src="images/datamart/more.svg" width="24" height="24" />
            </div>
            <div class="datamart-timeline-content" ng-click="loadMoreActions()">
                <span>Load all</span>
            </div>
        </li>
    </ul>
</div>
