(function(){
  'use strict';

  var MCS_CONSTANTS = {
    NAVIGATOR_URL: 'http://navigator.mediarithmics.local',
    API_URL: 'http://api.mediarithmics.local',
    PRIVATE_API_URL: 'http://admin-api.mediarithmics.local:8090'
  };

  window.MCS_CONSTANTS = MCS_CONSTANTS;

})();
